/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #f4f6fa;
    padding: 30px;
}

.navbar {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background: white;
    border-bottom: 1px solid #e6e9f0;
}

/* .logo {
    width: 42px;
    height: 42px;
    background: #2f4a90;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
} */

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand h1 {
    font-size: 18px;
    color: #2b3b66;
}

.brand span {
    font-size: 12px;
    color: #7b88a8;
}

.navbar-center h2 {
    font-size: 18px;
    color: #2b3b66;
}

.navbar-right {
    font-size: 14px;
    color: #6c7ba8;
}

/* -------------------------------- */
/* CONTAINER */
/* -------------------------------- */

.container {
    padding: 30px;
}

/* -------------------------------- */
/* CARDS */
/* -------------------------------- */

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.card {
    flex: 1;
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card-title {
    font-size: 14px;
    color: #6c7ba8;
}

.card h3 {
    font-size: 28px;
    color: #2b3b66;
}

.card-icon {
    font-size: 30px;
}

.green {
    color: #27ae60;
}

.gold {
    color: #b7950b;
}

/* -------------------------------- */
/* SEARCH BOX */
/* -------------------------------- */

.search-box input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #d5d9e5;
    margin-bottom: 20px;
}

/* -------------------------------- */
/* ABAS */
/* -------------------------------- */

.tabs {
    display: flex;
    border-bottom: 2px solid #dfe3ec;
    margin-bottom: 20px;
}

.tab {
    padding: 12px 25px;
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    color: #657198;
}

.tab.active {
    border-bottom: 3px solid #4155a6;
    color: #4155a6;
    font-weight: bold;
}

/* -------------------------------- */
/* TABELA */
/* -------------------------------- */

.table-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-csv {
    background: #4155a6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    font-size: 13px;
    color: #6c7ba8;
    padding-bottom: 12px;
}

tbody tr {
    border-top: 1px solid #edf0f7;
}

tbody td {
    padding: 12px 0;
    font-size: 14px;
    color: #333;
}